{:paths ["scripts"]
 :deps {}
 :tasks
 {version {:doc "See our bump version"
           :requires ([version])
           :task version/version}
  clean {:doc "Clean target dir"
         :task (do
                 (println "Removing target/")
                 (shell "rm -rf target"))}
  test {:doc "Run tests"
        :task (do
                (println "Running tests")
                (shell "clojure -M:test --fail-fast"))}

  lint {:doc "Lint with eastwood"
        :taks (do (shell "clojure -M:eastwood"))}
  jar {:doc "Build uberjar"
       :requires ([version])
       :task (let [version (version/get-version)]
               (run 'clean)
               (run 'test)
               (println "Building uberjar version" version)
               (shell (format "clojure -T:build jar '{:version \"%s\"}'" version)))}

  deploy {:doc "Deploy to clojars"
          :requires ([version])
          :task (let [version (version/get-version)]
                  (println "Deploying to clojars" version)
                  (shell (format "clojure -T:build deploy '{:version \"%s\"}'" version)))}}}
