{:paths ["scripts"]
 :deps {}
 :tasks
 {version {:doc "See our bump version"
           :requires ([version])
           :task version/version}
  clean {:doc "Clean target dir"
         :task (do
                 (println "Removing target/")
                 (shell "rm -rf target"))}
  test {:doc "Run tests"
        :task (do
                (println "Running tests")
                (shell "clj -M:test --fail-fast"))}
  jar {:doc "Build uberjar"
       :requires ([version])
       :task (let [version (version/get-version)]
               (run 'clean)
               (run 'test)
               (shell (format "clj -T:build jar '{:version \"%s\"}'" version)))}}}
