{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        http-kit/http-kit {:mvn/version "2.7.0-alpha1"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        metosin/reitit {:mvn/version "0.5.18"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        org.clojure/core.async {:mvn/version "1.5.648"}}
 :aliases
 {:dev {:extra-paths ["dev" "test"]
        :extra-deps {hashp/hashp {:mvn/version "0.2.1"}
                     lambdaisland/kaocha {:mvn/version "1.70.1086"}}}
  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.6.3" :git/sha "9b8e09b"
                  ;; since we're building an app uberjar, we do not
                  ;; need deps-deploy for clojars.org deployment:
                  :deps/root "slim"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.70.1086"}}
         :main-opts ["-m" "kaocha.runner"]}
  }}
